{% extends 'base.html.twig' %}


{% block body %}
    Nouveau mot de passe déjà envoyé

    <h2>
        Oups !
    </h2>
    <p>
        {{ 'resetting.password_already_requested'|trans }}
    </p>
{% endblock %}
