{% extends '::base.html.twig' %}

{% block plugin_stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('front/mmenu/assets/examples/css/pages/errors.css') }}">
{% endblock %}

{% block body_class %}
    page-error page-error-400 layout-full
{% endblock %}

{% block site_navbar %}
{% endblock %}

{% block site_menubar %}
{% endblock %}

{% block page %}
    <div class="page animsition vertical-align text-center" data-animsition-in="fade-in"
         data-animsition-out="fade-out">
        <div class="page-content vertical-align-middle">
            <header>
                <h1 class="animation-slide-top">503</h1>
                <p>Problème interne au site !</p>
            </header>
            <p class="error-advise">Vous pouvez toujours retournerà l'accueil</p>
            <a class="btn btn-primary btn-round" href="{{ path('homepage') }}">Page d'accueil</a>
            <footer class="page-copyright">
                <p>© 2016, Agroscopik créé par Hugo Lehoux pour REPAIR.</p>

                <div class="social">
                    <a class="btn btn-icon btn-pure" href="javascript:void(0)">
                        <i class="icon bd-twitter" aria-hidden="true"></i>
                    </a>
                    <a class="btn btn-icon btn-pure" href="javascript:void(0)">
                        <i class="icon bd-facebook" aria-hidden="true"></i>
                    </a>
                    <a class="btn btn-icon btn-pure" href="javascript:void(0)">
                        <i class="icon bd-google-plus" aria-hidden="true"></i>
                    </a>
            </footer>
        </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}