
    <h2>Parcelles</h2>

    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for plot in plots %}
            {% if is_granted('VIEW', plot) or is_granted('ROLE_ADMIN') %}
            <tr>
                <td><a href="{{ path('plot_show', { 'id': plot.id }) }}">{{ plot.name }}</a></td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('plot_new') }}">Ajouter une parcelle</a>
        </li>
    </ul>

