{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des tracteurs</h1>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Nom</th>
        </tr>
        </thead>
        <tbody>
        {% for tractor in tractors %}
            {% if is_granted('VIEW', tractor) or is_granted('ROLE_ADMIN') %}
                <tr>
                    <td><a href="{{ path('tractor_show', { 'id': tractor.id }) }}">{{ tractor.model.label }}</a></td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>


    <a class="btn btn-primary" href="{{ path('tractor_new') }}">Ajouter un tracteur</a>

{% endblock %}
