{% if error %}
        <div class="alert dark alert-alt alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post" autocomplete="off">

    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

    <div class="form-group form-material floating" data-plugin="formMaterial">
        <input type="email" class="form-control empty" id="username" name="_username">
        <label class="floating-label" for="username">Email</label>
    </div>

    <div class="form-group form-material floating" data-plugin="formMaterial">
        <input type="password" class="form-control empty" id="inputPassword" name="_password">
        <label class="floating-label" for="inputPassword">Mot de passe</label>
    </div>


    <div class="form-group clearfix">
        <div class="checkbox-custom checkbox-inline checkbox-primary pull-xs-left">
            <input type="checkbox" id="remember" name="_remember_me">
            <label for="_remember_me">Rester connecté</label>
        </div>
        <a class="pull-xs-right" href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a>
    </div>
    <button type="submit" class="btn btn-primary btn-block" type="submit"
            id="_submit" name="_submit">Connexion
    </button>
</form>
