<h1>Interventions culturales</h1>

<table>
    <thead>
    <tr>
        <th>Nom</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    {% for action in actions %}
        {% if is_granted('VIEW', action) or is_granted('ROLE_ADMIN') %}
            <tr>
                <td>
                    <a href="{{ path('action_show', { 'id': action.id }) }}">{{ action.name }}</a>
                </td>
                <td>
                    Date comming soon
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('action_new', { 'id': cropCycle.id }) }}">Ajouter une intervention</a>
    </li>
</ul>

