<table class="table table-hover">
    <tbody>
    {% for action in actions %}
        {% if is_granted('VIEW', action) or is_granted('ROLE_ADMIN') %}
            <tr>

                <td>
                    <div class="content">
                        <div class="title">
                            <a href="{{ path('action_show', { 'id': action.id }) }}">{{ action.name }}</a>
                        </div>
                        <div class="metas">
                            <span class="started">{{ action.startDateTime ? action.startDateTime | date('d/m/Y') }}
                            </span>
                        </div>
                    </div>
                </td>

            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>


