{% extends 'base.html.twig' %}

{% block body %}
    <h1>Local phytosanitaire</h1>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Nom de produit</th>
            <th>Stock</th>
            <th>Valeur du stock</th>
        </tr>
        </thead>
        <tbody>
        {% for farmSpeciality in farmSpecialities %}
            <tr>
                <td>
                    <a href="{{ path('farmspecialitymvt_list', { 'id': farmSpeciality.id }) }}">{{ farmSpeciality.speciality.name }}</a>
                </td>
<td>{{ farmSpeciality.stock }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('farmspeciality_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
