{% extends 'base.html.twig' %}

{% block body %}
    <h1>FarmSpeciality list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
            </tr>
        </thead>
        <tbody>
        {% for farmSpeciality in farmSpecialities %}
            <tr>
                <td><a href="{{ path('farmspecialitymvt_list', { 'id': farmSpeciality.id }) }}">{{ farmSpeciality.speciality.name }}</a></td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('farmspeciality_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
