    <h2>Liste des cultures</h2>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Nom</th>
        </tr>
        </thead>
        <tbody>
        {% for cropCycle in cropCycles %}
            {% if is_granted('VIEW', cropCycle) or is_granted('ROLE_ADMIN') %}
                <tr>
                    <td><a href="{{ path('cropcycle_show', { 'id': cropCycle.id }) }}">{{ cropCycle.name }}</a></td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cropcycle_new', { 'id': plot.id }) }}">Ajouter une culture</a>
        </li>
    </ul>

